section {
  min-height: 68vh;
}

.TodoList-container ul {
  margin: 0;
  padding-bottom: 50px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  section {
    min-height: 60vh;
  }
  .TodoList-container ul {
    padding: 0 0 20px 0;
  }
}
