footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 10px;
  position: relative;
  bottom: 24px;
}

.Link {
  font-size: 1.5rem;
}

.Link a {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.Link a:hover {
  color: black;
  box-shadow: 2px 2px 5px black;
  transition: 0.3s ease;
}

.NewTodoButton {
  background-color: #61dafa;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 1;
  transform: rotate(0);
  transition: 0.3s ease;
}

.NewTodoButton:hover {
  transform: rotate(224deg);
}
